.items-num-container {
    background-color: #eb0101;
    color: #fff;
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: .8rem;
    position: absolute;
    top: -.5rem;
    left: .2rem;
}

.items-num-text {
    color: inherit;
    display: inline;
}