.error-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

.error-section h1 {
    margin: 0;
    font-size: 5rem;
}

.error-icon {
    font-size: 5rem;
    margin: 0;
    color: #f00;
    position: relative;
    top: 2.2rem;
}